.image__container {
  display: inline-block;
  position: relative;
}
.image__container > a > .image__icon {
  display: none;
}
.image__container:hover > a > .image__icon {
  display: inline-block;
}

.image__icon {
  width: 140px; height: 25px;
  background-size: 140px 25px;
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url('https://s3.amazonaws.com/funraise-io/Assets/Funraise_Logo.png');
  position: absolute;
  top: 0;
  right: 0;
}
button__container {
  display: block;
}
button__container > button {
  display: inline-block;
}
.blur {
  filter: blur(8px);
}